<div class="power-area bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="power-inner">
                    <div class="power-detail">
                        <h2>Get in touch.</h2>
                        <p>Want to financially support the project another way? Please get in touch.</p>
                    </div>
                    <div class="power-link">
                        <div class="donate">
                            <a href="https://guardianproject.info/contact" class="oni-btn">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
