<div class="power-area bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="power-inner">
                    <div class="power-detail">
                        <h2>Free and open.</h2>
                        <p>Orbot is a free app! Support the continued development of the app. Share the love.</p>
                    </div>
                    <div class="power-link">
                        <div class="donate">
                            <a href="{{ site.baseurl }}/donate" class="oni-btn">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
